body {background-color: rgba(81, 120, 81); color: rgb(185, 225, 238);}
#formSubmissions{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center; text-justify: initial;}
#h{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center; font-size: 250%;}
#buttons{width: 50%; text-align: justify; justify-content: center; margin: 1%; text-indent: 60%}
.row{
    width: 100%;
}
.topnav {
  background-color:rgb(9, 1, 103);
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:rgb(81, 120, 81);
  text-align: center;
  padding: 20px 20px;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color:  rgb(185, 225, 238);
}
