

body{
    background-color: rgb(81, 120, 81);
}

/* .box{
    align-items: normal;
    background-color: rgb(185, 225, 238);
    text-align: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: -1%;
    padding-bottom: 99%;
    width: 98%;
    align-items: center;
    border: 2% lightblue;


    
} */


/* #selectionBar{
    margin-top: 20x;
} */
.cardEx{
    /* min-width: 80%;
    min-height: 80%; */
    width: 320px;
    height: 320px;
    block-size: 50%;
    padding: 3%;
    text-align: center;
    justify-items: right;
}

.row{
    width: 100vw;
}

#routePic{
    width: 80%;
}
#currentUser{
    display: hidden;
}

