.topnav {
  background-color:rgb(9, 1, 103);
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:rgb(81, 120, 81);
  text-align: center;
  padding: 20px 20px;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color:  rgb(185, 225, 238);
}

body{
    background-color: rgb(81, 120, 81);
}

/* .box{
    align-items: normal;
    background-color: rgb(185, 225, 238);
    text-align: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: -1%;
    padding-bottom: 99%;
    width: 98%;
    align-items: center;
    border: 2% lightblue;


    
} */


#selectionBar{
    margin-top: 20x;
}
.cardEx{
    width: 80%;
    height: 80%;
    block-size: 50%;
    padding: 3%;
    text-align: center;
    justify-items: right;
    
}

.row{
    width: 100vw;
}

#loadMore{
   text-align: center;
    background-color: rgb(185, 225, 238);
    color:  rgba(81, 120, 81);
    margin-left: 40%;
    margin-top: 1%;


}
#routePic{
    width: 100%;
}
#logout{
    text-align: right;
}