/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
gmp-map {
  height: 100%;
}

/*
   * Optional: Makes the sample page fill the window.
   */

body {
  height: 80%;
  margin: 0;
  padding: 0;
  background-color: rgb(81, 120, 81);
}
 #map {
      height: 70vh;
      width: 100%;
}

a {
text-decoration: none; /* Removes underline */
}