/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
gmp-map {
  height: 100%;
}

/*
   * Optional: Makes the sample page fill the window.
   */

body {
  height: 80%;
  margin: 0;
  padding: 0;
  background-color: rgb(81, 120, 81);
}
 #map {
      margin-top: 1%;
      height: 70vh;
      width: 100%;
}

a {
text-decoration: none; /* Removes underline */
}

.gcc-btn-primary {
    color: rgb(81, 120, 81);
    background-color: rgb(185, 225, 238);
    border-color: rgb(81, 120, 81);
}

.gcc-btn-primary:hover {
    background-color: rgb(9, 1, 103);
    border-color: rgb(185, 225, 238);
    color: rgb(81, 120, 81);
}
#endOfPage{
  margin-top: 1%;
}

#routeText{
  color:rgb(185, 225, 238);
}

