.topnav {
  background-color:rgb(9, 1, 103);
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:rgb(81, 120, 81);
  text-align: center;
  padding: 20px 20px;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color:  rgb(185, 225, 238);
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display:block;
    
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}