<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" crossorigin="anonymous"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
      crossorigin="anonymous"></script>
<script src="/static/scripts/doomScroll.js"></script>  
<script src="/static/scripts/resizeTopNav.js"></script>   
<link rel="stylesheet" href="/static/styles/home.css">
<link rel="stylesheet" href="/static/styles/topNav.css">
</head>
<body>
<!-- Outline for home page -->
<!-- SideBar -->
<div class="topnav" id="myTopNav">
  <a href="/profile/">{{user.username}}'s Profile</a>
  <a href="/home/">Home</a>
<a href="#" id="activity-button" data-bs-toggle="modal" data-bs-target="#formModal">
    Add Activity
</a>
  <a href="/create_route/">Create Route</a>
   <a id = "logout" href = "/auth/logout/">Logout</a>
   <a href="javascript:void(0);" class="icon" onclick="resize()">
    <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  <div>
 
  </div>
    <!-- <select id = "selectionBar">
       <option value = "/">  My Activities </option> 
        <option> Everyone's Activities</option>
    </select> -->
</div>
<div hidden id = "currentUser"> {{user.id}}
 </div>

 <div hidden id = "isAdmin"> {% if user.admin %} 1 {%else%}
0 {%endif%} </div>
<!-- Page content -->

<div class = "box">
<div class = "row align-items-center justify-content-left" id = "row">
  </div>

  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-modal="true" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="formModalLabel">Create Activity</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
              </div>
              <div class="modal-body text-align-center">

                  <div id="modal-inputs">
                      <label for="title" class="form-label">Activity Title</label>
                      <input type="text" id="title" class="form-control">
                      
                      <label for="type" class="form-label">Activity Type</label>
                      <select id="type" class="form-control" required>
                          <option value="" disabled selected>Select activity type</option>
                          <option value="Run">Run</option>
                          <option value="Ride">Ride</option>
                      </select>

                      <label for="routes" class="form-label">Route</label>
                      <select id="routes" class="form-control"></select>

                      <label for="start-time" class="form-label">Start Time</label>
                      <input type="datetime-local" id="start-time" class="form-control">

                      <label for="duration" class="form-label">Duration (minutes)</label>
                      <input type="number" id="duration" class="form-control">

                      <label for="distance" class="form-label">Distance (Miles)s</label>
                      <input type="number" id="distance" class="form-control">         
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="post-button">Save Activity</button>
              </div>
          </div>
      </div>

</body>
</html>