<!DOCTYPE html>
<html>
<head>
    <title> Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" crossorigin="anonymous"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
      crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/styles/home.css">
</head>
<body>
<!-- Outline for home page -->
<!-- SideBar -->
<div class="topnav">
  <a href="">Profile</a>
  <a href="/create_activity/">Add Activity</a>
    <!-- <select id = "selectionBar">
       <option value = "/">  My Activities </option> 
        <option> Everyone's Activities</option>
    </select> -->
</div>

<!-- Page content -->

<div class = "box">
<div class = "row align-items-center" id = "row">
        
        
        <div class= "col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class = "cardEx" id = "card1">
    <div class="card text-center">
       
        <div class="card-header">
          <!--activity.title--> Run through NY
        </div>
        <div class="card-body">
          <h1 class="card-title"> <!--activity.route --> Insert Image Here </h1>
          <!-- activity.distance--> 2 mi, <!-- activity.time --> 60 min
          <!--<button type="button" class="btn btn-lg btn-outline-primary">Details</button>-->
      
        </div>
        </div>
        </div>
        </div>
        
    

              <div class= "col-sm-12 col-md-6 col-lg-6 col-xl-4">
<div class = "cardEx">
      <div class="card text-center">
        <div class="card-header">
          <!--activity.title--> Run through NY
        </div>
        <div class="card-body">
          <h1 class="card-title"> <!--activity.route --> Insert Image Here </h1>
          <!-- activity.distance--> 2 mi, <!-- activity.time --> 60 min
          <!--<button type="button" class="btn btn-lg btn-outline-primary">Details</button>-->
        </div>
        </div>
        </div>
        </div>
        

                <div class= "col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class = "cardEx">
      <div class="card text-center">
        <div class="card-header">
          <!--activity.title--> Run through NY
        </div>
        <div class="card-body">
          <h1 class="card-title"> <!--activity.route --> Insert Image Here </h1>
          <!-- activity.distance--> 2 mi, <!-- activity.time --> 60 min
          <!--<button type="button" class="btn btn-lg btn-outline-primary">Details</button>-->
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

     <button type="button" id = "loadMore" class="btn btn-lg btn-outline-primary">Load More Activities</button>
</body>
</html>