<!DOCTYPE html>
<html>
<head>
    <title> Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" crossorigin="anonymous"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
      crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/homepage_manager.js') }}" defer></script>

    <link rel="stylesheet" href="/static/styles/home.css">
</head>
<body>
<!-- Outline for home page -->
<!-- SideBar -->
<div class="topnav">
  <a href="/profile/">Profile</a>
  <a href="/home/">Home</a>
  <a href="#" data-bs-toggle="modal" data-bs-target="#create-activity-modal">
    Add Activity
  </a>
  <a href="/create_route/">Create Route</a>
  <div>
  <a id = "logout" href = "/auth/login"> Logout </a>
  </div>
    <!-- <select id = "selectionBar">
       <option value = "/">  My Activities </option> 
        <option> Everyone's Activities</option>
    </select> -->
</div>


<!-- Page content -->

<div class = "box">
<div class = "row align-items-center justify-content-left" id = "row">
        
        {%for activity in activities%}
        <div class= "col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class = "cardEx" id = "card1">
    <div class="card text-center">
       
        <div class="card-header">
         {{activity.title}}
        </div>
        <div class="card-body">
          <h1 class="card-title"> {{activity.distance}}mi, {{activity.duration_minute}}min</h1>
          {%if activity.route%}
            <img src="{{ url_for('static', filename='route_images/' ~ activity.route.image_name) }}" alt="Route-Map" class="route-img" id = "routePic">
        {%endif%}
        <button onclick="deleteActivity('{{activity.aid}}')">Delete Activity</button>   
        </div>
        </div>
        </div>
        </div>
        
    {%endfor%}
        </div>
        </div>

     <button type="button" id = "loadMore" class="btn btn-lg btn-outline-primary">Load More Activities</button>


<div class="modal fade show" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-modal="true" role="dialog" style="display: block; padding-left: 0px;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="formModalLabel">Create Activity</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
          </div>
          <div class="modal-body text-align-center">

            <div id="modal-inputs">
              <label for="title" class="form-label">Activity Title</label>
              <input type="text" id="title" class="form-control">
              
              <label for="type" class="form-label">Activity Type</label>
              <select id="type" class="form-control" required>
                <option value="" disabled selected>Select activity type</option>
                <option value="Run">Run</option>
                <option value="Ride">Ride</option>
              </select>

              <label for="routes" class="form-label">Route</label>
              <select id="routes" class="form-control"></select>

              <label for="start-time" class = "form-label">Start Time</label>
              <input type="datetime-local" id="start-time" class="form-control">

              <label for="duration" class="form-label">Duration (minutes)</label>
              <input type="number" id="duration" class="form-control">

              <label for="distance" class="form-label">Distance (Miles)s</label>
              <input type="number" id="distance" class="form-control">         
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="post-button">Save Activity</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show"></div>
</body>
</html>